body{

    background:#0057b8;
    font-family:Arial;
    text-align:center;
    
    }
    
    .container{
    
    width:900px;
    margin:auto;
    
    }
    
    h1{
    
    color:yellow;
    
    }
    
    button{
    
    padding:15px 30px;
    font-size:20px;
    cursor:pointer;
    margin:20px;
    
    }
    
    #sorteado{
    
    background:white;
    padding:20px;
    border-radius:10px;
    }
    
    #historico{
    
    background:white;
    min-height:50px;
    padding:15px;
    margin:20px;
    border-radius:10px;
    
    }
    
    .cartela{
    
    display:grid;
    grid-template-columns:repeat(3,180px);
    gap:15px;
    justify-content:center;
    
    }
    
    .casa{
    
    background:white;
    height:80px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    border-radius:10px;
    
    }
    
    .marcado{
    
    background:green;
    color:white;
    
    }
    .jogadores{
    
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    margin-top:30px;
    
    }
    
    .jogador{
    
    background:#f5d300;
    padding:15px;
    border-radius:15px;
    
    }
    
    .cartela{
    
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
    margin-top:10px;
    
    }
    
    .casa{
    
    background:white;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    font-weight:bold;
    text-align:center;
    padding:5px;
    
    }
    
    .marcado{
    
    background:green;
    color:white;
    
    }
    /* Tela inicial */
    
    .inicio{
    
        height:100vh;
    
        display:flex;
    
        flex-direction:column;
    
        justify-content:center;
    
        align-items:center;
    
        background:linear-gradient(180deg,#009739,#0057b8);
    
        text-align:center;
    
        color:white;
    
    }
    
    .inicio h1{
    
        font-size:60px;
    
        color:#FFD700;
    
        margin-bottom:10px;
    
        text-shadow:3px 3px 5px black;
    
    }
    
    .inicio h2{
    
        font-size:35px;
    
        margin-bottom:20px;
    
    }
    
    .bola{
    
        font-size:120px;
    
        animation:girar 5s linear infinite;
    
    }
    
    @keyframes girar{
    
        from{
            transform:rotate(0deg);
        }
    
        to{
            transform:rotate(360deg);
        }
    
    }
    
    .inicio p{
    
        width:600px;
    
        max-width:90%;
    
        font-size:22px;
    
        margin:30px;
    
    }
    
    .inicio button{
    
        background:#FFD700;
    
        color:#0057b8;
    
        border:none;
    
        padding:18px 45px;
    
        font-size:22px;
    
        border-radius:15px;
    
        cursor:pointer;
    
        transition:.3s;
    
    }
    
    .inicio button:hover{
    
        transform:scale(1.08);
    
        background:white;
    
    }
    .voltar{
        position:absolute;
        top:20px;
        left:20px;
    
        background:#d32f2f;
        color:white;
    
        border:none;
        padding:10px 20px;
    
        border-radius:10px;
    
        cursor:pointer;
    
        font-size:18px;
    
        transition:0.3s;
    }
    
    .voltar:hover{
        background:#b71c1c;
    }